8ch/aclImdb
8ch/aclImdb_v1.tar.gz
8ch/movie_data.csv
8ch/movie_data.csv.gz
12ch/celeba/
12ch/MNIST/
13ch/MNIST/
14ch/MNIST/
14ch/celeba.zip
14ch/celeba/
15ch/aclImdb/
15ch/aclImdb_v1.tar.gz
16ch/spa-eng.zip
16ch/spa-eng/
17ch/MNIST/
16ch/movie_data.csv
16ch/movie_data.csv.gz
18ch/processed
18ch/raw